@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
body._ulmt__grand-retro {
  /*** Title */
  /*** Text */
  /* Links
--------------------------------------------- */
  /* Page
--------------------------------------------- */
  /* Forms
--------------------------------------------- */
  /* Typography
--------------------------------------------- */
  /* Elements
--------------------------------------------- */
  /* Text-level semantics
	 ========================================================================== */
}

body._ulmt__grand-retro {
  background: #fbfbfb;
}

body._ulmt__grand-retro,
body._ulmt__grand-retro button,
body._ulmt__grand-retro input,
body._ulmt__grand-retro select,
body._ulmt__grand-retro optgroup,
body._ulmt__grand-retro textarea {
  font-size: 15px;
  color: #38361f;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

body._ulmt__grand-retro a {
  color: #444440;
}

body._ulmt__grand-retro a:visited {
  color: #444440;
}

body._ulmt__grand-retro a:hover, body._ulmt__grand-retro a:focus, body._ulmt__grand-retro a:active {
  color: #a21616;
}

body._ulmt__grand-retro a:focus, body._ulmt__grand-retro a:focus:hover {
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro .site-main {
  padding-top: 80px;
  padding-bottom: 50px;
}

body._ulmt__grand-retro button:not(.customize-partial-edit-shortcut-button):not([type='button']),
body._ulmt__grand-retro input[type="button"],
body._ulmt__grand-retro input[type="reset"],
body._ulmt__grand-retro input[type="submit"] {
  border: none;
  color: #fbfbfb;
  font-size: 11px;
  font-weight: 500;
  background-color: #b14141;
  padding: 10px 20px;
}

body._ulmt__grand-retro button:not(.customize-partial-edit-shortcut-button):not([type='button']):hover, body._ulmt__grand-retro button:not(.customize-partial-edit-shortcut-button):not([type='button']):focus,
body._ulmt__grand-retro input[type="button"]:hover,
body._ulmt__grand-retro input[type="button"]:focus,
body._ulmt__grand-retro input[type="reset"]:hover,
body._ulmt__grand-retro input[type="reset"]:focus,
body._ulmt__grand-retro input[type="submit"]:hover,
body._ulmt__grand-retro input[type="submit"]:focus {
  outline: none;
  opacity: 0.8;
}

body._ulmt__grand-retro button:not(.customize-partial-edit-shortcut-button):not([type='button']):active,
body._ulmt__grand-retro input[type="button"]:active,
body._ulmt__grand-retro input[type="reset"]:active,
body._ulmt__grand-retro input[type="submit"]:active {
  outline: none;
}

body._ulmt__grand-retro input[type="text"],
body._ulmt__grand-retro input[type="email"],
body._ulmt__grand-retro input[type="url"],
body._ulmt__grand-retro input[type="password"],
body._ulmt__grand-retro input[type="search"],
body._ulmt__grand-retro input[type="number"],
body._ulmt__grand-retro input[type="tel"],
body._ulmt__grand-retro input[type="range"],
body._ulmt__grand-retro input[type="date"],
body._ulmt__grand-retro input[type="month"],
body._ulmt__grand-retro input[type="week"],
body._ulmt__grand-retro input[type="time"],
body._ulmt__grand-retro input[type="datetime"],
body._ulmt__grand-retro input[type="datetime-local"],
body._ulmt__grand-retro input[type="color"],
body._ulmt__grand-retro textarea {
  font-size: 12px;
  color: #676765;
  line-height: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  border: none;
  display: block;
  padding: 7px 5px;
}

body._ulmt__grand-retro input[type="text"]:focus,
body._ulmt__grand-retro input[type="email"]:focus,
body._ulmt__grand-retro input[type="url"]:focus,
body._ulmt__grand-retro input[type="password"]:focus,
body._ulmt__grand-retro input[type="search"]:focus,
body._ulmt__grand-retro input[type="number"]:focus,
body._ulmt__grand-retro input[type="tel"]:focus,
body._ulmt__grand-retro input[type="range"]:focus,
body._ulmt__grand-retro input[type="date"]:focus,
body._ulmt__grand-retro input[type="month"]:focus,
body._ulmt__grand-retro input[type="week"]:focus,
body._ulmt__grand-retro input[type="time"]:focus,
body._ulmt__grand-retro input[type="datetime"]:focus,
body._ulmt__grand-retro input[type="datetime-local"]:focus,
body._ulmt__grand-retro input[type="color"]:focus,
body._ulmt__grand-retro textarea:focus {
  outline: none;
  background-color: #f9f6de;
}

body._ulmt__grand-retro select {
  font-size: 12px;
  color: #676765;
  line-height: 20px;
  background-color: #eeeeee;
  border-radius: 2px;
  border: none;
  display: block;
  padding: 7px 5px;
}

body._ulmt__grand-retro select:focus {
  outline: none;
  background-color: #f9f6de;
}

body._ulmt__grand-retro h1 {
  font-size: 19px;
  font-weight: 700;
  color: #444440;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro h1 {
    font-size: 25px;
  }
}

body._ulmt__grand-retro h2 {
  font-size: 17px;
  font-weight: 700;
  color: #444440;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro h2 {
    font-size: 23px;
  }
}

body._ulmt__grand-retro h3 {
  font-size: 15px;
  font-weight: 700;
  color: #444440;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro h3 {
    font-size: 21px;
  }
}

body._ulmt__grand-retro h4 {
  font-size: 13px;
  font-weight: 700;
  color: #444440;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro h4 {
    font-size: 19px;
  }
}

body._ulmt__grand-retro h5 {
  font-size: 11px;
  font-weight: 700;
  color: #444440;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro h5 {
    font-size: 17px;
  }
}

body._ulmt__grand-retro h6 {
  font-size: 9px;
  font-weight: 700;
  color: #444440;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro h6 {
    font-size: 15px;
  }
}

body._ulmt__grand-retro ul,
body._ulmt__grand-retro ol {
  margin: 0 0 1.5em 0;
}

body._ulmt__grand-retro li > ul,
body._ulmt__grand-retro li > ol {
  margin-bottom: 0;
  margin-left: 0;
}

body._ulmt__grand-retro code,
body._ulmt__grand-retro kbd,
body._ulmt__grand-retro samp {
  background: #9e9e9e;
  color: #444440;
}

body._ulmt__grand-retro header.site-header .header-wrapper {
  background-color: #fff8be;
  padding-top: 20px;
}

body._ulmt__grand-retro header.site-header .header-wrapper .site-branding .site-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro header.site-header .header-wrapper .site-branding .site-title {
    text-align: left;
  }
}

body._ulmt__grand-retro header.site-header .header-wrapper .site-branding .site-title a {
  text-decoration: none;
}

body._ulmt__grand-retro header.site-header .header-wrapper .site-branding .site-description {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro header.site-header .header-wrapper .site-branding .site-description {
    text-align: left;
  }
}

body._ulmt__grand-retro header.site-header .header-wrapper .site-branding a.custom-logo-link {
  width: 100%;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro header.site-header .header-wrapper .site-branding a.custom-logo-link {
    width: auto;
    text-align: left;
  }
}

body._ulmt__grand-retro header.site-header .header-wrapper .header-menu-wrap {
  margin-bottom: -15px;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul ul {
  background-color: #fff8be;
  -webkit-box-shadow: -1px -1px 0px 0px #a2a2a2;
  box-shadow: -1px -1px 0px 0px #a2a2a2;
  padding-left: 0;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li a {
  color: #444440;
  font-size: 12px;
  font-weight: 700;
  padding: 1px 2px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li a {
    font-size: 14px;
  }
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li:hover > div > a {
  color: #a21616;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li.focus > div, body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li.focus:hover > div {
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li.focus > div > a, body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li.focus:hover > div > a {
  outline: none;
  color: #a21616;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li.menu-item-has-children.focus > div, body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li.menu-item-has-children.focus:hover > div, body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li.page_item_has_children.focus > div, body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul li.page_item_has_children.focus:hover > div {
  margin-top: -1px;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul.menu > li > div > a {
  padding: 0;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation ul.sub-menu li > div {
  padding-left: 10px;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation > div > ul > li > div > a {
  font-size: 16px;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation button.menu-toggle {
  background: none;
  padding: 0;
  margin: -10px auto 10px;
  width: 45px;
}

body._ulmt__grand-retro header.site-header .header-wrapper .main-navigation button.menu-toggle:focus {
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro footer.site-footer {
  font-size: 12px;
  background-color: #eeeeee;
  padding: 20px 0px 10px 0px;
  color: #6c757d;
  font-weight: 500;
}

body._ulmt__grand-retro footer.site-footer a {
  text-decoration: none;
  color: #444440;
}

body._ulmt__grand-retro footer.site-footer a:hover {
  color: #b14141;
}

body._ulmt__grand-retro footer.site-footer a:focus {
  color: #b14141;
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro footer.site-footer .widget-title {
  color: #444440;
  font-size: 15px;
  font-weight: 700;
  position: relative;
  padding: 20px 0 10px;
}

body._ulmt__grand-retro footer.site-footer .footer-site-info-wrap {
  text-align: center;
  font-size: 11px;
}

body._ulmt__grand-retro aside.widget-area {
  padding-top: 50px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro aside.widget-area {
    padding-top: 0;
  }
}

body._ulmt__grand-retro aside.widget-area p,
body._ulmt__grand-retro aside.widget-area ul,
body._ulmt__grand-retro aside.widget-area li,
body._ulmt__grand-retro aside.widget-area a,
body._ulmt__grand-retro aside.widget-area table {
  font-size: 12px;
  color: #6c757d;
  font-weight: 500;
}

body._ulmt__grand-retro aside.widget-area a {
  color: #444440;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}

body._ulmt__grand-retro aside.widget-area a:hover {
  color: #b14141;
}

body._ulmt__grand-retro aside.widget-area a:focus {
  color: #b14141;
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro aside.widget-area .widget-title {
  font-size: 15px;
  font-weight: 700;
  position: relative;
  padding: 0 0 10px;
}

body._ulmt__grand-retro aside.widget-area .widget-title:after {
  content: '';
  background: #fff8be;
  position: absolute;
  top: -5px;
  left: -6px;
  height: 20px;
  width: 20px;
  z-index: -1;
}

body._ulmt__grand-retro aside.widget-area ul {
  padding-left: 0;
  margin-left: 0;
}

body._ulmt__grand-retro aside.widget-area ul li {
  list-style: none;
  padding: 0 0 3px 0;
}

body._ulmt__grand-retro aside.widget-area ul ul {
  padding-left: 10px;
}

body._ulmt__grand-retro.single article {
  margin-top: 7px;
}

body._ulmt__grand-retro.single article .post-thumbnail {
  margin-top: 20px;
}

body._ulmt__grand-retro.single article .post-thumbnail img {
  opacity: .85;
}

body._ulmt__grand-retro.single article .post-thumbnail img:hover {
  opacity: 1;
}

body._ulmt__grand-retro.single article header.entry-header h1.entry-title {
  font-size: 19px;
  font-weight: 700;
  color: #444440;
  margin: 0 0 5px;
  margin: 0;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.single article header.entry-header h1.entry-title {
    font-size: 25px;
  }
}

body._ulmt__grand-retro.single article header.entry-header h1.entry-title:after {
  content: '';
  background: #fff8be;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -6px;
  top: -12px;
  z-index: -1;
}

body._ulmt__grand-retro.single article .entry-meta,
body._ulmt__grand-retro.single article .entry-footer {
  letter-spacing: 0.2px;
  color: #444440;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  padding-right: 3px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.single article .entry-meta,
  body._ulmt__grand-retro.single article .entry-footer {
    font-size: 13px;
    line-height: 1.7;
  }
}

body._ulmt__grand-retro.single article .entry-meta a,
body._ulmt__grand-retro.single article .entry-footer a {
  color: #6c757d;
  text-decoration: none;
}

body._ulmt__grand-retro.single article .entry-meta a:hover,
body._ulmt__grand-retro.single article .entry-footer a:hover {
  color: #b14141;
}

body._ulmt__grand-retro.single article .entry-meta a:focus,
body._ulmt__grand-retro.single article .entry-footer a:focus {
  color: #b14141;
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro.single article .entry-footer {
  margin-bottom: 0;
}

body._ulmt__grand-retro.single article .entry-footer > span {
  padding-right: 2px;
}

body._ulmt__grand-retro.single article .entry-footer > span.edit-link {
  display: block;
}

body._ulmt__grand-retro.single article .entry-footer > span.edit-link a {
  text-decoration: underline;
}

body._ulmt__grand-retro.single article .entry-footer > span + body._ulmt__grand-retro.single article .entry-footer > span.comments-link {
  padding-left: 20px;
}

body._ulmt__grand-retro.single article .posted-on-wrap .row.inside > div:nth-child(2) {
  padding: 0;
}

body._ulmt__grand-retro.single article .entry-content {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #444440;
}

body._ulmt__grand-retro.single article p.wp-block-cover-text {
  color: #fbfbfb;
  font-size: 13px;
}

body._ulmt__grand-retro.single article p.wp-block-cover-text a {
  color: #fbfbfb;
}

body._ulmt__grand-retro.single article p.wp-block-cover-text a:hover {
  color: #a21616;
}

body._ulmt__grand-retro.single article .wp-block-button a.wp-block-button__link {
  border: none;
  color: #fbfbfb;
  font-size: 11px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #b14141;
  padding: 10px 20px;
}

body._ulmt__grand-retro.single article .wp-block-button a.wp-block-button__link:hover, body._ulmt__grand-retro.single article .wp-block-button a.wp-block-button__link:focus {
  opacity: .8;
}

body._ulmt__grand-retro.single article .blocks-gallery-grid .blocks-gallery-image figcaption,
body._ulmt__grand-retro.single article .blocks-gallery-grid .blocks-gallery-item figcaption,
body._ulmt__grand-retro.single article .wp-block-gallery .blocks-gallery-image figcaption,
body._ulmt__grand-retro.single article .wp-block-gallery .blocks-gallery-item figcaption {
  line-height: 1.5;
}

body._ulmt__grand-retro.single article blockquote::before, body._ulmt__grand-retro.single article blockquote.wp-block-quote::before {
  content: "”";
  color: #9e9e9e;
  opacity: 0.3;
}

body._ulmt__grand-retro.single article blockquote.has-text-align-right::before, body._ulmt__grand-retro.single article blockquote.wp-block-quote.has-text-align-right::before {
  color: #9e9e9e;
  opacity: 0.3;
}

body._ulmt__grand-retro.single article blockquote.is-style-large::before, body._ulmt__grand-retro.single article blockquote.wp-block-quote.is-style-large::before {
  color: #9e9e9e;
  opacity: 0.1;
}

body._ulmt__grand-retro.single article .wp-block-pullquote::before {
  background: none;
  color: #9e9e9e;
  opacity: 0.3;
}

body._ulmt__grand-retro.single article a.wp-block-file__button {
  background: #a21616;
}

body._ulmt__grand-retro.single article a.wp-block-file__button:hover, body._ulmt__grand-retro.single article a.wp-block-file__button:focus {
  background: #b14141;
}

body._ulmt__grand-retro.single article pre,
body._ulmt__grand-retro.single article fieldset,
body._ulmt__grand-retro.single article input,
body._ulmt__grand-retro.single article textarea,
body._ulmt__grand-retro.single article table,
body._ulmt__grand-retro.single article table *,
body._ulmt__grand-retro.single article hr {
  border-color: #9e9e9e;
}

body._ulmt__grand-retro.single article th,
body._ulmt__grand-retro.single article td {
  border: 0.1rem solid #9e9e9e;
}

body._ulmt__grand-retro.single article .comment-navigation,
body._ulmt__grand-retro.single article .post-navigation,
body._ulmt__grand-retro.single article .navigation {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}

body._ulmt__grand-retro.single article .comment-navigation .nav-subtitle,
body._ulmt__grand-retro.single article .post-navigation .nav-subtitle,
body._ulmt__grand-retro.single article .navigation .nav-subtitle {
  display: none;
}

body._ulmt__grand-retro.single article .comment-navigation .nav-previous a:after,
body._ulmt__grand-retro.single article .comment-navigation .nav-next a:after,
body._ulmt__grand-retro.single article .post-navigation .nav-previous a:after,
body._ulmt__grand-retro.single article .post-navigation .nav-next a:after,
body._ulmt__grand-retro.single article .navigation .nav-previous a:after,
body._ulmt__grand-retro.single article .navigation .nav-next a:after {
  content: "";
  border: solid #444440;
  border-width: 0 2px 2px 0;
}

body._ulmt__grand-retro.single article .comment-navigation .nav-previous a,
body._ulmt__grand-retro.single article .comment-navigation .nav-next a,
body._ulmt__grand-retro.single article .post-navigation .nav-previous a,
body._ulmt__grand-retro.single article .post-navigation .nav-next a,
body._ulmt__grand-retro.single article .navigation .nav-previous a,
body._ulmt__grand-retro.single article .navigation .nav-next a {
  font-size: 13px;
  font-weight: 500;
  color: #6c757d;
  text-decoration: none;
}

body._ulmt__grand-retro.single article .comment-navigation .nav-previous a:hover,
body._ulmt__grand-retro.single article .comment-navigation .nav-next a:hover,
body._ulmt__grand-retro.single article .post-navigation .nav-previous a:hover,
body._ulmt__grand-retro.single article .post-navigation .nav-next a:hover,
body._ulmt__grand-retro.single article .navigation .nav-previous a:hover,
body._ulmt__grand-retro.single article .navigation .nav-next a:hover {
  color: #b14141;
}

body._ulmt__grand-retro.single article .comment-navigation .nav-previous a:focus,
body._ulmt__grand-retro.single article .comment-navigation .nav-next a:focus,
body._ulmt__grand-retro.single article .post-navigation .nav-previous a:focus,
body._ulmt__grand-retro.single article .post-navigation .nav-next a:focus,
body._ulmt__grand-retro.single article .navigation .nav-previous a:focus,
body._ulmt__grand-retro.single article .navigation .nav-next a:focus {
  color: #b14141;
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro.single article .the-author-info-box .author-nickname {
  letter-spacing: 0.2px;
  color: #444440;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  padding-bottom: 15px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.single article .the-author-info-box .author-nickname {
    font-size: 13px;
    line-height: 1.7;
  }
}

body._ulmt__grand-retro.single article .the-author-info-box .author-nickname a {
  text-decoration: none;
  font-weight: bold;
}

body._ulmt__grand-retro.single article .the-author-info-box .author-description {
  font-size: 12px;
}

body._ulmt__grand-retro.blog, body._ulmt__grand-retro.search, body._ulmt__grand-retro.archive {
  /* Archive base */
}

body._ulmt__grand-retro.blog .page-header, body._ulmt__grand-retro.search .page-header, body._ulmt__grand-retro.archive .page-header {
  margin-bottom: 50px;
}

body._ulmt__grand-retro.blog .page-header h1.page-title, body._ulmt__grand-retro.search .page-header h1.page-title, body._ulmt__grand-retro.archive .page-header h1.page-title {
  font-size: 19px;
  font-weight: 600;
  color: #676765;
  margin: 0 0 5px;
  margin: 0 0 5px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.blog .page-header h1.page-title, body._ulmt__grand-retro.search .page-header h1.page-title, body._ulmt__grand-retro.archive .page-header h1.page-title {
    font-size: 25px;
  }
}

body._ulmt__grand-retro.blog .page-header .archive-description, body._ulmt__grand-retro.search .page-header .archive-description, body._ulmt__grand-retro.archive .page-header .archive-description {
  font-size: 12px;
  color: #9e9e9e;
}

body._ulmt__grand-retro.blog article, body._ulmt__grand-retro.search article, body._ulmt__grand-retro.archive article {
  margin: 0 0 50px;
}

body._ulmt__grand-retro.blog article .post-thumbnail, body._ulmt__grand-retro.search article .post-thumbnail, body._ulmt__grand-retro.archive article .post-thumbnail {
  margin-top: 20px;
}

body._ulmt__grand-retro.blog article .post-thumbnail img, body._ulmt__grand-retro.search article .post-thumbnail img, body._ulmt__grand-retro.archive article .post-thumbnail img {
  opacity: .85;
}

body._ulmt__grand-retro.blog article .post-thumbnail img:hover, body._ulmt__grand-retro.search article .post-thumbnail img:hover, body._ulmt__grand-retro.archive article .post-thumbnail img:hover {
  opacity: 1;
}

body._ulmt__grand-retro.blog article header.entry-header h2.entry-title, body._ulmt__grand-retro.search article header.entry-header h2.entry-title, body._ulmt__grand-retro.archive article header.entry-header h2.entry-title {
  margin-bottom: 0;
}

body._ulmt__grand-retro.blog article header.entry-header h2.entry-title a, body._ulmt__grand-retro.search article header.entry-header h2.entry-title a, body._ulmt__grand-retro.archive article header.entry-header h2.entry-title a {
  color: #444440;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.blog article header.entry-header h2.entry-title a, body._ulmt__grand-retro.search article header.entry-header h2.entry-title a, body._ulmt__grand-retro.archive article header.entry-header h2.entry-title a {
    font-size: 21px;
  }
}

body._ulmt__grand-retro.blog article header.entry-header h2.entry-title a:hover, body._ulmt__grand-retro.search article header.entry-header h2.entry-title a:hover, body._ulmt__grand-retro.archive article header.entry-header h2.entry-title a:hover {
  color: #b14141;
}

body._ulmt__grand-retro.blog article header.entry-header h2.entry-title a:focus, body._ulmt__grand-retro.search article header.entry-header h2.entry-title a:focus, body._ulmt__grand-retro.archive article header.entry-header h2.entry-title a:focus {
  color: #b14141;
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro.blog article header.entry-header h2.entry-title a:after, body._ulmt__grand-retro.search article header.entry-header h2.entry-title a:after, body._ulmt__grand-retro.archive article header.entry-header h2.entry-title a:after {
  content: '';
  background: #fff8be;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -6px;
  top: -12px;
  z-index: -1;
}

body._ulmt__grand-retro.blog article .posted-on,
body._ulmt__grand-retro.blog article .entry-meta, body._ulmt__grand-retro.search article .posted-on,
body._ulmt__grand-retro.search article .entry-meta, body._ulmt__grand-retro.archive article .posted-on,
body._ulmt__grand-retro.archive article .entry-meta {
  letter-spacing: 0.2px;
  color: #444440;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  padding-right: 3px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.blog article .posted-on,
  body._ulmt__grand-retro.blog article .entry-meta, body._ulmt__grand-retro.search article .posted-on,
  body._ulmt__grand-retro.search article .entry-meta, body._ulmt__grand-retro.archive article .posted-on,
  body._ulmt__grand-retro.archive article .entry-meta {
    font-size: 13px;
    line-height: 1.7;
  }
}

body._ulmt__grand-retro.blog article .posted-on a,
body._ulmt__grand-retro.blog article .entry-meta a, body._ulmt__grand-retro.search article .posted-on a,
body._ulmt__grand-retro.search article .entry-meta a, body._ulmt__grand-retro.archive article .posted-on a,
body._ulmt__grand-retro.archive article .entry-meta a {
  color: #6c757d;
  text-decoration: none;
}

body._ulmt__grand-retro.blog article .posted-on a:hover,
body._ulmt__grand-retro.blog article .entry-meta a:hover, body._ulmt__grand-retro.search article .posted-on a:hover,
body._ulmt__grand-retro.search article .entry-meta a:hover, body._ulmt__grand-retro.archive article .posted-on a:hover,
body._ulmt__grand-retro.archive article .entry-meta a:hover {
  color: #b14141;
}

body._ulmt__grand-retro.blog article .posted-on a:focus,
body._ulmt__grand-retro.blog article .entry-meta a:focus, body._ulmt__grand-retro.search article .posted-on a:focus,
body._ulmt__grand-retro.search article .entry-meta a:focus, body._ulmt__grand-retro.archive article .posted-on a:focus,
body._ulmt__grand-retro.archive article .entry-meta a:focus {
  color: #b14141;
  outline: 1px solid #a21616;
}

body._ulmt__grand-retro.blog article .entry-footer, body._ulmt__grand-retro.search article .entry-footer, body._ulmt__grand-retro.archive article .entry-footer {
  letter-spacing: 0.2px;
  color: #444440;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.blog article .entry-footer, body._ulmt__grand-retro.search article .entry-footer, body._ulmt__grand-retro.archive article .entry-footer {
    font-size: 13px;
    line-height: 1.7;
  }
}

body._ulmt__grand-retro.blog article .entry-footer > span, body._ulmt__grand-retro.search article .entry-footer > span, body._ulmt__grand-retro.archive article .entry-footer > span {
  padding-right: 2px;
}

body._ulmt__grand-retro.blog article .entry-footer > span.edit-link, body._ulmt__grand-retro.search article .entry-footer > span.edit-link, body._ulmt__grand-retro.archive article .entry-footer > span.edit-link {
  display: block;
}

body._ulmt__grand-retro.blog article .entry-footer > span.edit-link a, body._ulmt__grand-retro.search article .entry-footer > span.edit-link a, body._ulmt__grand-retro.archive article .entry-footer > span.edit-link a {
  text-decoration: underline;
}

body._ulmt__grand-retro.blog article .entry-footer > span + body._ulmt__grand-retro.blog article .entry-footer > span.comments-link, body._ulmt__grand-retro.search article .entry-footer > span + body._ulmt__grand-retro.blog article .entry-footer > span.comments-link, body._ulmt__grand-retro.archive article .entry-footer > span + body._ulmt__grand-retro.blog article .entry-footer > span.comments-link, body._ulmt__grand-retro.blog article .entry-footer > span + body._ulmt__grand-retro.search article .entry-footer > span.comments-link, body._ulmt__grand-retro.search article .entry-footer > span + body._ulmt__grand-retro.search article .entry-footer > span.comments-link, body._ulmt__grand-retro.archive article .entry-footer > span + body._ulmt__grand-retro.search article .entry-footer > span.comments-link, body._ulmt__grand-retro.blog article .entry-footer > span + body._ulmt__grand-retro.archive article .entry-footer > span.comments-link, body._ulmt__grand-retro.search article .entry-footer > span + body._ulmt__grand-retro.archive article .entry-footer > span.comments-link, body._ulmt__grand-retro.archive article .entry-footer > span + body._ulmt__grand-retro.archive article .entry-footer > span.comments-link {
  padding-left: 20px;
}

body._ulmt__grand-retro.blog article .posted-on-wrap .row.inside > div:nth-child(2), body._ulmt__grand-retro.search article .posted-on-wrap .row.inside > div:nth-child(2), body._ulmt__grand-retro.archive article .posted-on-wrap .row.inside > div:nth-child(2) {
  padding: 0;
}

body._ulmt__grand-retro.blog article .entry-content, body._ulmt__grand-retro.search article .entry-content, body._ulmt__grand-retro.archive article .entry-content {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #444440;
}

body._ulmt__grand-retro .comments-area {
  margin-top: 50px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro .comments-area {
    margin-top: 0;
  }
}

body._ulmt__grand-retro .comments-area .comments-title {
  font-size: 19px;
  font-weight: 600;
  color: #676765;
  margin: 0 0 5px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro .comments-area .comments-title {
    font-size: 25px;
  }
}

body._ulmt__grand-retro .comments-area .comments-title span {
  text-transform: capitalize;
  font-style: italic;
}

body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-meta .comment-metadata {
  top: -3px;
  left: 45px;
}

body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-meta .comment-metadata a {
  font-size: 11px;
  text-decoration: none;
}

body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-meta .comment-author {
  font-size: 13px;
}

body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-meta .comment-author a {
  text-decoration: none;
}

body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-meta .comment-author img {
  margin-right: 10px;
}

body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-content p,
body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-content ul,
body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-content ol,
body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-content li,
body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-content span,
body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-content table,
body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .comment-content pre {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #444440;
}

body._ulmt__grand-retro .comments-area ol.comment-list li.comment .comment-body .reply {
  font-size: 12px;
}

body._ulmt__grand-retro .comments-area .comment-respond .comment-reply-title {
  font-size: 19px;
  font-weight: 700;
}

body._ulmt__grand-retro .comments-area .comment-respond .comment-notes {
  font-size: 13px;
  color: #9e9e9e;
}

body._ulmt__grand-retro .comments-area .comment-respond label {
  font-size: 12px;
  color: #9e9e9e;
}

body._ulmt__grand-retro.error404 .site-main {
  text-align: center;
}

body._ulmt__grand-retro.error404 h1.page-title {
  font-size: 19px;
  font-weight: 700;
  color: #444440;
  margin: 0 0 5px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.error404 h1.page-title {
    font-size: 25px;
  }
}

body._ulmt__grand-retro.error404 .page-content {
  font-size: 13px;
  color: #9e9e9e;
}

body._ulmt__grand-retro.search h1.page-title {
  font-size: 19px;
  font-weight: 700;
  color: #444440;
  margin: 0 0 5px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.search h1.page-title {
    font-size: 25px;
  }
}

body._ulmt__grand-retro.search h1.page-title span {
  font-style: italic;
}

body._ulmt__grand-retro.search article .entry-header h2.entry-title a {
  color: #444440;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.search article .entry-header h2.entry-title a {
    font-size: 21px;
  }
}

body._ulmt__grand-retro.search article .entry-content {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #444440;
}

body._ulmt__grand-retro.search article .posted-on,
body._ulmt__grand-retro.search article .entry-meta {
  letter-spacing: 0.2px;
  color: #444440;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.search article .posted-on,
  body._ulmt__grand-retro.search article .entry-meta {
    font-size: 13px;
    line-height: 1.7;
  }
}

body._ulmt__grand-retro.search article .entry-footer {
  letter-spacing: 0.2px;
  color: #444440;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.search article .entry-footer {
    font-size: 13px;
    line-height: 1.7;
  }
}

body._ulmt__grand-retro.page h1.entry-title {
  display: inline-block;
  color: #444440;
  position: relative;
  text-decoration: none;
  font-weight: 600;
  margin: 0;
  font-size: 21px;
}

@media only screen and (min-width: 600px) {
  body._ulmt__grand-retro.page h1.entry-title {
    font-size: 30px;
  }
}

body._ulmt__grand-retro.page .entry-content {
  font-size: 13px;
  line-height: 19px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #444440;
}
/*# sourceMappingURL=styles.css.map */